<nav class="navbar-container">
    <ul class="list-style">
        <li class="list-style2">
            <a class="link-style" [routerLink]="['/aluno']" routerLinkActive="router-link-active" >ALUNO</a>
        </li>
        <li class="list-style2">
            <a class="link-style" [routerLink]="['/curso']">CURSO
            </a>
        </li>
        <li class="list-style2">
            <a class="link-style" [routerLink]="['/disciplina']">DISCIPLINA
            </a>
        </li>
        <li class="list-style2">
            <a class="link-style" [routerLink]="['/turma']">TURMA
            </a>
        </li>
        <li class="list-style2">
            <a class="link-style" [routerLink]="['/lista-alunos']">LISTA DE ALUNOS
            </a>
        </li>
    </ul>
</nav>